html,
body {
    margin: 0; /* 余白を消す*/
    padding: 0; /* これも余白？ */
    overflow: hidden; /* スクロールバーを隠す */
    width: 100%; /* 幅 */
    height: 100%; /* 高さ */
}

body {
    /* canvasを画面中央に配置する */
    display: flex;
    align-items: center;
    justify-items: center;
}

#game-canvas {
    background-color: black;
}
